smart_contract/node_modules
smart_contract/.env
smart_contract/coverage
smart_contract/coverage.json
typechain

#Hardhat files
smart_contract/cache
smart_contract/artifacts


# Logs
client/logs
client/*.log
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/pnpm-debug.log*
client/lerna-debug.log*

client/node_modules
client/dist
client/dist-ssr
client/*.local
client/.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

